<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Cofetăria Dulcelind - despre</title>
    <meta name="description" content="Istoricul si descrierea Cofetariei Dulcelind">
    <meta name="keywords" content="cofetarie, Dulcelind, cofetaria Dulcelind, prajituri, torturi, dulce, pateuri, produse">

    <%- include('../fragmente/head.ejs') %>

</head>

<body>
    <%- include('../fragmente/header.ejs') %>
    <main>
        A doua pagina a site-ului.
    </main>
    <%- include('../fragmente/footer.ejs') %>
</body>

</html>