    <footer id="subsol">
        <a href="#" title="mergi sus" id="link-top"><div id="triunghi"></div></a>
		<address>
			Strada prajiturilor, nr. 10, București, sector 1, România
            E-mail: <a href="mailto:georgica@gmail.com">Georgica</a>
            Telefon: <a href="+40721111111">tel</a>
            1&lt;2&copy;
		</address>
    </footer>